.service-box {
  width:100%;
  padding: 40px 0 49px 0;
  position: relative;
  display: block;
  margin-bottom: 11px;
  background-color: transparent;
  border: 1px solid #ededed;
  @media (min-width: 515px) {
    display: inline-block;
    width: 49.7%;
  }
  @media (min-width: 580px) {
    width: 47%;
  }
  @media (min-width: 638px) {
    width: 49.7%;
  }
  @media (min-width: 800px) {
    width: 24.7%;
  }
  @media (min-width: 1144px) {
    width: 24%;
  }
}

.service-list {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 580px) {
    width: 80%;
  }
  @media (min-width: 800px) {
    width: 100%;
  }
}

.service-box_photography {
  background-position: -2px -6px;
}

.service-box_eventManagement {
  background-position: -111px -6px;
}

.service-box_mathematics {
  background-position: -220px -8px;
}

.service-box_programming {
  background-position: -320px -5px;
}

.service-box_globalProject {
  background-position: -3px -51px;
}

.service-box_creativeDesign {
  background-position: -112px -51px;
}

.service-box_responsiveTheme {
  background-position: -219px -53px;
}

.service-box_seoService {
  background-position: -321px -49px;
}

.service-box_font-color-basis {
  color:#6e6e6e;
}

.service-box_font-color-hover {
  color: #ffffff;
}

.service-box_margin-right {
  margin-right: 0;
  @media (min-width: 1144px) {
    margin-right: 11px;
  }
}

.service-box__image {
  padding: 23px 25px 25px 20px;
  margin: 0 auto;
  width: 76px;
  background-color: #919190;
  border-radius: 50%;
  transition: background-color ease-in-out 300ms;
}

.service-box__image__item {
  background-image: url('../img/spriteIcon.png');
  width: 37px;
  height: 29px;
}

.service-box__list {
  padding-top: 30px;
}

.service-box__list__descrition {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;
  color: #787878;
  transition: color ease-in-out 400ms;
  @media (min-width: 890px) {
    font-size: 17px;
  }
  @media (min-width: 930px) {
    padding-left: 38px;
    padding-right: 16px;
  }
}
.service-box__list__title {
  font-family: $fontOneLine;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  padding-bottom: 28px;
  color: #6e6e6e;
  transition: color ease-in-out 400ms;
  @media (min-width: 890px) {
    font-size: 20px;
  }
  @media (min-width: 974px) {
    font-size: 22px;
  }
}

.service-box:hover {
  background-color: $akcentColor;
  transition: background-color ease-in-out 300ms;
}

.service-box:hover  .triangle-hover{
  display: block;
}

.service-box:hover .service-box__image{
  background-color: #fff;
  transition: background-color ease-in-out 300ms;
}

.service-box:hover .service-box__list li{
  color: #fff;
  transition: color ease-in-out 400ms;
}

.service-box:hover .service-box__image .service-box_photography{
  background-position: -54px -6px;
}

.service-box:hover .service-box__image .service-box_eventManagement{
  background-position: -168px -6px;
}

.service-box:hover .service-box__image .service-box_mathematics {
  background-position: -272px -8px;
}

.service-box:hover .service-box__image .service-box_programming {
  background-position: -372px -5px;
}

.service-box:hover .service-box__image .service-box_globalProject {
  background-position: -52px -51px;
}

.service-box:hover .service-box__image .service-box_creativeDesign {
  background-position: -169px -51px;
}

.service-box:hover .service-box__image .service-box_responsiveTheme {
  background-position: -273px -53px;
}

.service-box:hover .service-box__image .service-box_seoService {
  background-position: -372px -49px;
}

.triangle-hover {
  display: none;
  background-image: url('../img/service-box-hover.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 81px;
  background-repeat: no-repeat;
  background-size: cover;
}