
.skills {
  padding: 20px 0 0;
  width: 100%;
    @media (min-width: 800px) {
      padding: 20px 0 0 10px;
    }
  @media (min-width: 1270px) {
    padding: 129px 0 0 10px;
  }
  @media (min-width: 1400px) {
    padding: 129px 0 0 55px;
  }
  @media (min-width: 1670px) {
    padding: 129px 76px 0 55px;
  }
  @media (min-width: 1805px) {
    padding: 129px 131px 0 55px;
  }
}

.skills-list {
  width: 100%;
  margin-bottom: 35px;
  position: relative;
}

.list-elem {
  display: inline-block;
}

.elem_width {
  width: 85%;
}

.elem-number {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  right: 0;
  height: 27px;
  width: 40.5px;
  padding: 6px 0 0 10px;
  top: 21px;
  background-color: $akcentColor;
    &:before {
      position: absolute;
      top: 7px;
      left: -12px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 12px solid $akcentColor;
      border-bottom: 7px solid transparent;
    }
    @media (min-width: 490px) {
      font-size: 16px;
      right: 11px;
      height: 33px;
      width: 47.5px;
      padding: 5px 0 0 10px;
        &:before {
          top: 11px;
        }
    }
    @media (min-width: 690px) {
      font-size: 18px;
    }
    @media (min-width: 710px) {
      top: 19px;
      right: 1px;
      height: 39px;
      width: 58.5px;
      padding: 8px 0 0 10px;
    }
    @media (min-width: 1310px) {
      font-size: 20px;
    }
}

.elem-name {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 6px;
    &::first-letter {
    text-transform: uppercase;
    }
    @media (min-width: 600px) {
      font-size: 22px;
    }

}

.elem-progress{
  display: block;
  width: 80%;
  height: 17px;
  background-color: $backgroundProgress;
  &::after {
    content: "";
    display: block;
    background-color: $akcentColor;

    height: 100%;
  }
    @media (min-width: 390px) {
      width: 84.7%;
    }
}

.elem-progress {
    &_photoshop {
        &::after {
          content: '';
          width: 80.7%;
        }

    }
    &_illustrator {
      &::after {
        content: '';
        width: 58.6%;
      }
    }
    &_indesign {
      &::after {
        content: '';
        width: 71.6%;
      }
    }
    &_html5 {
      &::after {
        content: '';
        width: 51%;
      }
    }
    &_php{
      &::after {
        content: '';
        width: 89.4%;
      }
    }
}