

.statistic__box {
  padding: 20px 0 0;
  position: relative;
  @include clearfix;
    @media (min-width: 1025px) {
      padding: 113px 72px 0;
    }
}

.box__list-statistic {
  width: 100%;
  float: none;
  margin-right: 0;
  z-index: 20;
  margin-bottom: 15px;
  @media (min-width: 580px) {
    width: 33%;
    float: left;
    margin-bottom: 0;
  }
  @media (min-width: 1185px) {
    margin-right: 51.5px;
    width: 30%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.box__line {
  position: absolute;
  top: 244px;
  left: 244px;
  width: 57%;
  height: 1px;
  background-color: red;
  z-index:1;
}

.list-statistic__item{
  text-align: center;
  color: $color2TitleBlock;
  display: block;
}

.item_mod {
  &-title {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
      @media (min-width: 800px) {
        font-size: 35px;
      }
      @media (min-width: 1000px) {
        font-size: 40px;
      }
  }
  &-image {
    background-image: url('../img/spriteIcon.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px auto 13px;
    background-color: $color2TitleBlock;
    border-radius: 50%;
    transition:  all linear 300ms;
    z-index: 10;
    &:hover {
      transition: all linear 300ms;
      background-color: $akcentColor;
    }
    @media (min-width: 580px) {
      margin: 31px auto 38px;
    }
  }
  &-text {
    font-family: $fontOneLine;
    font-size: 20px;
    text-transform: uppercase;
      @media (min-width: 780px) {
        font-size: 25px;
      }
  }
}

.item__image {
    &-position1 {
      background-position: 20px -93px;
        &:hover {
          background-position: 20px -168px;
        }
    }
    &-position2 {
      background-position: -110px -94px;
        &:hover {
          background-position: -109px -174px;
        }
    }
    &-position3 {
      background-position: -253px -94px;
        &:hover {
          background-position: -253px -173px;
        }
    }
}