.title {
  font-family: $fontOneLine;
  max-width: 100%;
  margin: 0 auto 0;
  display: table;
  text-transform: uppercase;
  text-align: center;
    @media (min-width: 400px) {
      min-width: 300px;
      max-width: 320px;
    }
    @media (min-width: 600px) {
      min-width: 540px;
      max-width: 1000px;
    }
    &-elem {
      font-family: inherit;
      position: relative;
      width: 100%;
      padding-bottom: 13px;
      border-bottom: none;
        &:after {
          content: '';
          display: none;
        }
        @media (min-width: 450px) {
          border-bottom: 1px solid $akcentColor;
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -21px;
            margin-bottom: -2.5px;
            width: 40px;
            height: 5px;
            background-color: #f39c12;
          }
        }
        &__service {
          padding-bottom: 11px;
        }
        &__work {
          padding-bottom: 15px;
        }
        &__story {
          padding-bottom: 15px;
        }
        &__tweet {
          padding-bottom:23px;
        }
        &__form {
          padding-bottom: 23px;
        }
        &__footer {
          padding-bottom: 27px;
        }
        &__form-blog {
          padding-bottom: 22px;
        }
        &__footer-blog {
          padding-bottom: 27px;
        }
    }
    &__about  {
      font-size: 30px;
      @media (min-width: 600px) {
        margin-bottom: 77px;
      }
      @media (min-width: 320px) and (max-width: 1200px) {
        font-size: calc(0.0204 * 100vw + 23.472px);
      }
      @media (min-width: 1201px) {
        font-size: 48px;
      }
      @media (min-width: 1400px) {
        margin-top: -11px;
      }
    }
    &__service {
      padding-bottom: 15px;
      font-size: 23px;
      margin-bottom: 30px;
      @media (min-width: 900px) {
        padding-bottom: 23px;
        margin-bottom: 68px;
      }
      @media (min-width: 320px) and (max-width: 1000px) {
        font-size: calc(0.0294 * 100vw + 13.591px);
      }
      @media (min-width: 1001px) {
        font-size: 43px;
      }
    }
    &__statistic {
      font-size: 25px;
      @media (min-width: 580px) {
      }
      @media (min-width: 320px) and (max-width: 1300px) {
        font-size: calc(0.025 * 100vw + 17px);
      }
      @media (min-width: 1300px) {
        font-size: 49.5px;
      }
    }
    &__work {
      font-size: 25px;
      margin-bottom: 20px;
      @media (min-width: 320px) and (max-width: 1300px) {
        font-size: calc(0.025 * 100vw + 17px);
      }
      @media (min-width: 1110px) {
        margin-bottom: 95px;
      }
      @media (min-width: 1300px) {
        font-size: 49px;
      }
    }
    &__story {
      font-size: 25px;
      margin-bottom: 15px;
      @media (min-width: 580px) {
        margin-bottom: 81px;
      }
      @media (min-width: 320px) and (max-width: 1300px) {
        font-size: calc(0.0194 * 100vw + 18.792px);
      }
      @media (min-width: 1300px) {
        font-size: 43.3px;
      }
    }
    &__life-story {
      font-size: 25px;
      margin-bottom: 60px;
      @media (min-width: 320px) and (max-width: 1310px) {
        font-size: calc(0.0252 * 100vw + 16.936px);
      }
      @media (min-width: 1311px) {
        font-size: 50px;
      }
    }
    &__feedback {
        font-size: 25px;
        padding: 0;
        margin-bottom: 20px;
        @media (min-width: 320px) and (max-width: 1300px) {
          font-size: calc(0.0194 * 100vw + 18.792px);
        }
      @media (min-width: 1025px) {
        margin-bottom: 101px;
      }
        @media (min-width: 1300px) {
          font-size: 43.5px;
        }
      }
    &__tweet {
      font-size: 25px;
      padding: 0;
      margin-bottom: 78px;
      color: #fff;
      @media (min-width: 320px) and (max-width: 1300px) {
        font-size: calc(0.0245 * 100vw + 17.16px);
      }
      @media (min-width: 1300px) {
        font-size: 49px;
      }
    }
    &__form {
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 21px;
      padding-bottom: 21px;
      color: #373737;
      @media (min-width: 600px) {
      }
      @media (min-width: 1000px) {
        margin-bottom: 31px;
      }
      @media (min-width: 320px) and (max-width: 1300px) {
        font-size: calc(0.0255 * 100vw + 16.84px);
      }
      @media (min-width: 1301px) {
        font-size: 50px;
      }
    }
    &__footer {
      font-size: 25px;
      margin-bottom: 21px;
      padding-bottom: 27px;
      @media (min-width: 1000px) {
        margin-bottom: 10px;
      }
      @media (min-width: 320px) and (max-width: 1300px) {
        font-size: calc(0.0255 * 100vw + 16.84px);
      }
      @media (min-width: 1301px) {
        font-size: 49.5px;
      }
        &_blog {
          margin-bottom: 26px;
        }
    }
}

.title-content {
  font-family: $fontOneLine;
  text-transform: uppercase;
  display: block;
  line-height: 0.7;

  border-bottom: none;
  position: relative;
    @media (min-width: 600px) {
      display: inline-block;
      border-bottom: 1px solid $akcentColor;
    }
}

.title_mod-color-1 {
  color: #383838;
}

.title_mod-color-2 {
  color: #ffffff;
}