.life-story {
  &__image {
    width: 95%;
    padding: 66px 0 0 0;
    float: none;
    margin:0 auto;
    @media (min-width: 780px) {
      width: 80%;
    }
    @media (min-width: 1210px) {
      float: left;
      width: 42.5%;
      margin: 0;
      padding: 66px 0 0 58px;
    }
  }
  &__info {
    width: 80%;
    float: none;
    padding-top: 66px;
    padding-right: 0;
    padding-bottom: 0;
    margin:0 auto;
    @media (min-width: 1210px) {
      width: 54.7%;
      float: right;
      padding-right: 10px;
      margin: 0;
      padding-bottom: 131px;
    }
    @media (min-width: 1290px) {
      padding-right: 138px;
    }
    @media (min-width: 1400px) {
      padding-top: 162px;
    }
    @media (min-width: 1500px) {
      padding-right: 238px;
    }
    @media (min-width: 1666px) {
      padding-right: 338px;
    }
  }
}

.feedback__slider .slick-dots {
  bottom: 2px;
}

.life-image__item {
  width: 100%;
}

.life-info__text {
  font-family: Arial, sans-serif;
  color: #c7c7c7;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
}

.info-text_mod-margin {
  margin-bottom: 30px;
}

