.mobi-nav {
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
}

.mobi-nav-show{
  animation: showMenu  ease-in-out 1s;
  animation-fill-mode:forwards;

}

.mobi-nav-hide{
  animation:showMenu  ease-in-out 500ms;
  animation-fill-mode:forwards;
}

@-webkit-keyframes showMenu {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}